
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}.w-90{
    width: 95%;
    margin:auto;
}

body {
    
    background:#BBB
       

}




/* start base.html */

/* start navbar*/
.profile-pic {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}

/* end navbar*/





.logo img{
    width: 200px;
    height: 100px;
    border-radius: 25px;
}
.action a{
    margin-left: 30px;
    margin-top:10px;
    text-decoration: none;
}
.frm{
    border:3px solid black;
    box-shadow: 4px 6px 4px 2px rgb(19, 18, 18,0.7);
    background-color: rgb(142, 158, 158);
}



/* end base.html stock */


.body .row{
    color:black;
    font-size: medium;
    transition: .4s;
    border-bottom: 2px solid #F8F8FF;
    border-bottom: 1px solid #A9A9A9;
    
    
}






.body .row:hover{
    background:linear-gradient(#A9A9A9,#F5FFFA,#A9A9A9);
    border-radius: 20px;
}


.messages{
    position:absolute;
    top:-100px;
    left:10vw;
    width: 60%;
    z-index: 1000;
    font-family: 'Times New Roman';
    font-size: large;
    font-weight: 900;
    color:black;
    padding: 20px;
    border-radius: 5px;
   
    
}
/* end stle stock */
/* start reservation.html */


.borderShadaw{
    border-radius: 8px;
    border: 1px solid black;
    box-shadow: 4px 6px 4px 2px rgb(19, 18, 18,0.7);
    padding:15px 0;
    
    

}

/* scrolling table*/
.table-container {
    max-height: 80vh;
    width: 100%;
    overflow-y: auto;
    position: relative;
    
}

thead {
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 2;
}

table {
    table-layout: fixed;
    width: 90%;
}




/* end reservation.html */

/*start css for app livraison*/
.mat{
    min-height: 300px;
    margin-right: -11px;
    margin-left: -11px;
    overflow: hidden;
    margin-bottom: 12px;
    padding:15PX;
}
.alertAddRef{
    position:absolute;
    width: 40%;
    top:40%;
    left:30%;
    margin: 0 auto;
    text-align: center;
    padding:50px 10px;
    background-color: rgb(217, 221, 217);
    outline: 1px solid black;
    z-index: 1000;
    border-radius: 10px;
    box-shadow: 10px 10px 30px 0px #222;
}
.alertAddRef P{
    font-size: x-large;
    color: black;
    font-weight: 900;
    }
.alertAddRef a{
    
    width: 140px;
    margin-left: 20px;
    padding: 5px 10px;
 
    font-size: larger;
    transition: all .3s ease;
}   

/*end css for app livraison*/