<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css'%}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.bundle.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <title>{{title}}</title>
</head>
<body>
    {% comment %} start navbar {% endcomment %}
   
    

    <nav class="navbar navbar-brand bg-light px-3 w-100 sticky-top ">
      <a class="navbar-brand" href="{% url 'home'%}">
        <img src="{% static 'images/ATOUT.png'%}" class="img-fluid" width="200px" height="100px">
      </a>
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}">Home</a>
        </li>
       
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Gestion Stock</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'addstock' %}">Ajouter Materiel</a></li>
            <li><a class="dropdown-item" href="{% url 'stock' %}">Afficher Stock</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Gestion Reservation</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'reservations' %}">Ajouter Reservation</a></li>
           
          </ul>
        </li>

      </ul>
    </nav>
    








    <div class="container">
      
      {% block content %}
      {% endblock content %}
      
    </div>
    {% comment %} end navbar {% endcomment %}

    

<script src="{% static 'js/bootstrap.bundle.min.js'%}"></script>       
<script src="{% static 'js/scriptes.js'%}"></script>       

</body>
</html>