{% extends 'base.html' %}

{% block content %}
<div class="livraison">
    <div class="row bg-black p-2 text-white fs-4">
        <div class="col-md-2">Référence</div>
        <div class="col-md-2">Date Livraison</div>
        <div class="col-md-2">charger d'affaire</div>
        <div class="col-md-2">Type Livraison</div>
        <div class="col-md-2">Client</div>
        <div class="col-md-2">Chantier</div>
    </div>
    <div class="body table-container">
         {% for livraison in livraisonData %}
     <div class="row p-2 text-dark fs-4">
        <div class="col-md-2"><a href="{% url 'detailsLivraison' livraison.bl%}" style="text-decoration: none; font-size:x-large;">{{livraison.bl}}</a></div>
        <div class="col-md-2">{{livraison.dateLivraison}}</div>
        <div class="col-md-2">{{livraison.chargerAffaire}}</div>
        <div class="col-md-2">{{livraison.typeLivraison}}</div>
        <div class="col-md-2">{{livraison.client}}</div>
        <div class="col-md-2">{{livraison.chantier}}</div>
    </div>
    {% endfor%}
</div>

</div>
{% endblock content %}