

{%  extends  'base.html'%}
{% block content %}


<div  id="alertAddRef" class="alertAddRef" style="display: none;">
    <p>La référence saisie n'existe pas. <p>
     <a id="no" class="btn btn-danger">Quitter</a>   
   

</div>
<form method="post">
    {% csrf_token %}
<label for="info">Information Livraison</label>
<div id="info" class="row borderShadaw mb-3">
    <div class="col-md-3">
        <label for="client">Client</label>
            <input list="listClient" class="form-select" name="client" required>
            <datalist id="listClient" >
                {% for c in client %}
            <option value="{{c}}">
            {% endfor %}
            </datalist>
        
    </div>
    <div class="col-md-2">
        <label for="">Charger D'affaire</label>
        <select name="chargerAffaire" class="form-select">
            {% for ch in charger %}
            <option value="{{ch}}">{{ch}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-md-2">
        <label for="dateLivraison">Date de Livraison</label>
        <input type="date" name="dateLivraison" class="form-control" required>
    </div>
    <div class="col-md-2">
        <label for="typeLivraison">Type</label>
        <select name="typeLivraison" class="form-select">
            <option value="evenement">Evenement</option>
            <option value="chantier">Chantier</option>
            <option value="vente">Vente</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="chantier">Chantier</label>
        <input type="text" name="chantier" class="form-control" required>
    </div>
    
</div>



<label for="materiel">Materiel a livree</label>
<div  id="materiel" class=" borderShadaw mat">
    <div >
        <div class="row bg-black pt-2 pb-2 text-white  mb-2">
            <div class="col-md-1 ps-4 fs-6">Référence</div>
            <div class="col-md-3 ps-4 fs-6">Designation</div>
            <div class="col-md-1 ps-4 fs-6">Quantité</div>
            <div class="col-md-2 ps-4 fs-6">Matricule Transport</div>
            <div class="col-md-2 ps-4 fs-6">Chauffeur</div>
            <div class="col-md-3 ps-4 fs-6">Observations</div>
        </div> 
    </div>
    <!-- zonne body -->
    <div id="body">
        <div class="row   mb-1">
            <div class="col-md-1"><input  name="refMateriel"  type="text" required class="form-control refMateriel" onchange="inputChange(this)"></div>
            <div class="col-md-3"><input  name="designation"  type="text" class="form-control" ></div>
            <div class="col-md-1"><input  name="qte" type="number" class="form-control" value=1></div>
            <div class="col-md-2"><input  name="matTrans" type="text"   class="form-control trans"></div>
            <div class="col-md-2"><input  name="condTrans" type="text"   class="form-control trans"  ></div>
            <div class="col-md-3"><input  name="observations" type="text" class="form-control"></div>
        </div>
    </div>
    
</div>
<!-- zone button de commande -->
<div class="row borderShadaw">
    <div class="col-md-4">
        
        <input type="submit" value="Enregistrer" class="btn btn-success w-90" >
        
    </div>
    <div class="col-md-4">
        <input type="button" value="Ajouter" class="btn btn-success w-90" onclick="addLigne('#body')">
    </div>
    <div class="col-md-4">
    <input type="button" value="Suprimer" class="btn btn-danger w-90" onclick="deleteLigne('#body')">

    </div>
    
</div>
</form>

{% endblock content %}